<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table
       [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="ClinicRating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic rating </th>
    <td mat-cell *matCellDef="let element"> {{element.clinicRating}} </td>
  </ng-container>

  <ng-container matColumnDef="Doctors">
    <th mat-header-cell *matHeaderCellDef> Doctors </th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="warn" (click)="doctorList(element)"> Doctors </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<button mat-raised-button color="primary" (click)="openDialog()">Search</button>
<button mat-raised-button color="accent" (click)="predefDialog()">Predef examinations</button>

