<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="medicalDataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="Kind">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Kind </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.kind === 1; else elseBlock">Operation</div>
      <ng-template #elseBlock>Examination</ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="Clinic">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic </th>
    <td mat-cell *matCellDef="let element"> {{element.clinic.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Doctor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let doctor of element.doctors">{{doctor.name}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="StartTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date and time </th>
    <td mat-cell *matCellDef="let element"> {{element.interval.startTime}} </td>
  </ng-container>

  <ng-container matColumnDef="EndTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> End date and time </th>
    <td mat-cell *matCellDef="let element"> {{element.interval.endTime}} </td>
  </ng-container>

  <ng-container matColumnDef="Rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="rate(element)">Rate</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
