<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card>
          <h3>Profile</h3>
          <hr>
          <form [formGroup]="patientProfileForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <mat-label for="email">Email</mat-label>
              <input type="email" readonly="readonly" id="email" formControlName="email" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && patientProfileForm.get('email').errors }">

              <div *ngIf="submitted && patientProfileForm.get('email').errors" class="invalid-feedback">
                <div *ngIf="patientProfileForm.get('email').errors['required']">Email is required</div>
                <div *ngIf="patientProfileForm.get('email').errors['email']">Email must be a valid email address</div>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" id="password" formControlName="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && patientProfileForm.get('password').errors }">
              <div *ngIf="submitted && patientProfileForm.get('password').errors" class="invalid-feedback">
                <div *ngIf="patientProfileForm.get('password').errors['required']">Password is required</div>
                <div *ngIf="patientProfileForm.get('password').errors['minlength']">Password must be at least 8 characters
                  long</div>
                <div *ngIf="patientProfileForm.get('password').errors['pattern']">Password must contain at least 1 lowercase,
                  1 uppercase letter
                  and 1 number</div>
              </div>
            </div>

            <div class="form-group">
              <label for="name">First Name</label>
              <input type="text" id="name" formControlName="name" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && patientProfileForm.get('name').errors }" />
              <div *ngIf="submitted && patientProfileForm.get('name').errors" class="invalid-feedback">
                <div *ngIf=" patientProfileForm.get('name').errors['required']">First Name is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="surname">Last Name</label>
              <input type="text" id="surname" formControlName="surname" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && patientProfileForm.get('surname').errors }" />
              <div *ngIf="submitted && patientProfileForm.get('surname').errors" class="invalid-feedback">
                <div *ngIf="patientProfileForm.get('surname').errors['required']">Last Name is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" id="address" formControlName="address" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && patientProfileForm.get('address').errors }" />
              <div *ngIf="submitted && patientProfileForm.get('address').errors" class="invalid-feedback">
                <div *ngIf="patientProfileForm.get('address').errors['required']">Address is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" formControlName="city" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && patientProfileForm.get('city').errors }" />
              <div *ngIf="submitted && patientProfileForm.get('city').errors" class="invalid-feedback">
                <div *ngIf="patientProfileForm.get('city').errors['required']">City is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" id="country" formControlName="country" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && patientProfileForm.get('country').errors }" />
              <div *ngIf="submitted && patientProfileForm.get('country').errors" class="invalid-feedback">
                <div *ngIf="patientProfileForm.get('country').errors['required']">Country is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="number">Phone Number</label>
              <input type="number" id="number" formControlName="number" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && patientProfileForm.get('number').errors }" />
              <div *ngIf="submitted && patientProfileForm.get('number').errors" class="invalid-feedback">
                <div *ngIf="patientProfileForm.get('number').errors['required']">Phone Number is required</div>
                <div *ngIf="patientProfileForm.get('number').errors['minlength']">A phone number must have at least 9
                  digits
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="insuranceID">Health Insurance ID</label>
              <input type="text" readonly="readonly" id="insuranceID" formControlName="insuranceID" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted &&  patientProfileForm.get('insuranceID').errors }" />
              <div *ngIf="submitted && patientProfileForm.get('insuranceID').errors" class="invalid-feedback">
                <div *ngIf="patientProfileForm.get('insuranceID').errors['required']">Health Insurance ID is required
                </div>
                <div
                  *ngIf="patientProfileForm.get('insuranceID').errors['minlength'] ||patientProfileForm.get('insuranceID').errors['maxlength']">
                  Health
                  Insurance ID must contain exactly 13 characters</div>
              </div>
            </div>

            <button mat-raised-button color="primary" class="pull-right">Save</button>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
